<div class="btn-group-vertical menu-field-width bg-dark opacity-70 border border-top-0 border-left-0 border-bottom-0 border-light"
  role="group" aria-label="Basic example">

  <!-- Sleeppoints -->
  <button type="button" class="btn btn-outline-light btn-square menu-field-height border-right-0 border-top-0 border-left-0">
    Tent
  </button>

  <!-- Checkpoints -->
  <button type="button" class="btn btn-outline-light btn-square menu-field-height border-right-0 border-top-0 border-left-0">
    <span class="fa-2x fa-layers fa-fw">
      <i class="fas fa-clipboard" data-fa-transform=""></i>
      <i class="text-dark fas fa-check" data-fa-transform="shrink-7 down-3"></i>
    </span>
  </button>

  <!-- Dangerpoints -->
  <button type="button" class="btn btn-outline-light btn-square menu-field-height border-right-0 border-top-0 border-left-0">
    <i class="fa-2x fas fa-exclamation-triangle"></i>
  </button>

  <!-- Chargingpoints -->
  <button type="button" class="btn btn-outline-light btn-square menu-field-height border-right-0 border-top-0 border-left-0">
    <i class="fa-2x fas fa-plug"></i>
  </button>

  <!-- Gasstations -->
  <button type="button" class="btn btn-outline-light btn-square menu-field-height border-right-0 border-top-0 border-left-0">
    Gas
  </button>

  <!-- Shopping -->
  <button type="button" class="btn btn-outline-light btn-square menu-field-height border-right-0 border-top-0 border-left-0">
    <i class="fa-2x fas fa-shopping-cart"></i>
  </button>

</div>
