<div class="btn-group-vertical menu-field-width bg-dark opacity-70 border border-top-0 border-left-0 border-bottom-0 border-light"
  role="group" aria-label="Basic example">

  <!-- Temperature -->
  <button type="button" class="btn btn-outline-light btn-square menu-field-height border-right-0 border-top-0 border-left-0">
    <i class="fa-2x fas fa-thermometer-half"></i>
  </button>

  <!-- Rain -->
  <button type="button" class="btn btn-outline-light btn-square menu-field-height border-right-0 border-top-0 border-left-0">
    <span class="fa-2x fa-layers fa-fw">
      <i class="fas fa-cloud" data-fa-transform="shrink-4 up-2"></i>
      <i class="fas fa-align-left" data-fa-transform="rotate-120 shrink-7 down-4 left-1"></i>
    </span>
  </button>

  <!-- Solarpower -->
  <button type="button" class="btn btn-outline-light btn-square menu-field-height border-right-0 border-top-0 border-left-0">
    <i class="fa-2x fas fa-sun"></i>
  </button>

  <!-- Clouds -->
  <button type="button" class="btn btn-outline-light btn-square menu-field-height border-right-0 border-top-0 border-left-0">
    <i class="fa-2x fas fa-cloud"></i>
  </button>

</div>
